@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
    --font-Inter: "Inter", sans-serif;

    --shadow-red: 0px 0px 18px 5px rgba(255, 0, 0, 0.546);
    --shadow-gray: 0px 0px 20px 8px #4f4f4f7d;

    --color-gray: rgb(58, 58, 58);
    --color-light_gray: rgb(35, 34, 34);

    --color-eee: #EEEEEE;
    --color-19: #191919;
    --color-dark: #0D0D0D;
    --inter: "Inter", sans-serif;

    --breakpoint-*: initial;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1170px;
    --breakpoint-xxl: 1400px;

}
@utility  container{
    @apply w-full m-auto;
}
@utility padding{
    @apply py-20 lg:py-25 md:py-22.5 px-5;
}
@utility overlay{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-270deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 39.51%, rgba(0, 0, 0, 0) 60.42%, rgba(0, 0, 0, 0) 100%);
}
@utility sm_overlay{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.461);
}
@utility food_button {
    @apply text-[18px] leading-7.5 font-semibold text-black bg-white rounded-full w-full md:w-auto lg:py-5 py-4 px-12.5 cursor-pointer hover:text-white hover:bg-red-500 hover:shadow-red duration-300;
}
@utility section_heading-1 {
    @apply lg:text-[50px] md:text-[40px] text-[28px] md:font-bold font-semibold text-center pb-4 lg:leading-18 md:leading-14.5 leading-11.5; 
}
@utility section_heading-2 {
    @apply lg:text-[20px] md:text-[17px] text-[14px] font-normal text-center lg:w-205 m-auto w-full lg:leading-7.5 md:leading-7 leading-6 ; 
}
@utility small_letter{
    @apply lg:text-[18px] md:text-[16px] text-[14px] lg:leading-7.5 md:leading-7 leading-6 font-normal;
}

/* 
@theme {
  --animate-pulse: pulse 2s ease-in-out infinite;
  @keyframes pulse {
    0%{
        box-shadow: 0 0 0 0 rgba(220, 212, 212, 0.603),  0 0 0 0 rgba(214, 205, 205, 0.632);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(183, 167, 167, 0.47),  0 0 0 30px rgba(191, 179, 179, 0.445);
    }
  }
} */
@theme{
    --animate-pulse : pulse 2s linear infinite;
    @keyframes pulse {
        0%{
            box-shadow: 0 0 0 0 rgba(220, 212, 212, 0.603),  0 0 0 0 rgba(214, 205, 205, 0.632);
        }
        100%{
            box-shadow: 0 0 0 0 rgba(183, 167, 167, 0.47),  0 0 0 30px rgba(191, 179, 179, 0.445);
        }
    }
}

@theme {
  --animate-sm_pulse: sm_pulse 1s ease-in-out infinite;
  @keyframes sm_pulse {
    0% {
      box-shadow:
        0 0 0 0 rgba(249, 249, 249, 0.15),
        0 0 0 0 rgba(249, 249, 249, 0.15);
    }
    100% {
      box-shadow:
        0 0 0 0 rgba(206, 194, 194, 0.07),
        0 0 0 15px rgba(206, 194, 194, 0.07);
    }
  }
}



